<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    android:versionCode="28"
    android:versionName="2.0.11">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>

    <application
        android:name=".CyclopathApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.cyclopath.ui.TncActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- <activity android:name="com.facebook.FacebookActivity" -->
        <!-- android:configChanges= -->
        <!-- "keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:label="@string/app_name" /> -->
        <!-- <activity -->
        <!-- android:name="com.facebook.CustomTabActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:scheme="@string/fb_login_protocol_scheme" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.example.cyclopath.ui.history.ViewHistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.cyclopath.ui.search.NavigationActivity"
            android:exported="true"
            android:label="NavigationActivity" />
        <activity
            android:name="com.example.cyclopath.ui.login.ForgetPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.cyclopath.ui.login.EmailPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.cyclopath.ui.login.SignUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.cyclopath.ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cyclopath.ui.record.RecordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.cyclopath.ui.MainActivity"
            android:exported="true"
            android:label="Cyclopath Edinburgh"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.example.cyclopath.Cyclopath"
            android:debuggable="false"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cycloplan.cyclopath.org"
                    android:scheme="http" />
                <!--
                     <data android:scheme="http"
                      android:host="dev.cs.umn.edu" />
                -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cyclopath.TrackManager"
            android:label="@string/saved_tracks" />
        <activity
            android:name="com.example.cyclopath.RouteLibrary"
            android:label="@string/route_library" />
        <activity
            android:name="com.example.cyclopath.LoginActivity2"
            android:label="@string/login"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.example.cyclopath.UserAgreement"
            android:label="@string/terms_of_service" />
        <activity
            android:name="com.example.cyclopath.FindRouteActivity"
            android:configChanges="orientation"
            android:label="@string/route_finder" />
        <activity
            android:name="com.example.cyclopath.AddressChooseActivity"
            android:configChanges="orientation"
            android:label="@string/address_choose" />
        <activity
            android:name="com.example.cyclopath.DirectionsActivity"
            android:label="@string/directions" />
        <activity
            android:name="com.example.cyclopath.ItemDetailsActivity"
            android:label="@string/item_details" />
        <activity
            android:name="com.example.cyclopath.NoteActivity"
            android:label="@string/note_details" />
        <activity
            android:name="com.example.cyclopath.TrackDetailsActivity"
            android:label="@string/track_details" />
        <activity
            android:name="com.example.cyclopath.ExperimentAgreement"
            android:label="New Feature Testing" />

        <service android:name="com.example.cyclopath.TrackingService" />

        <receiver
            android:name="com.example.cyclopath.net.NetworkListener"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>